<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>AngularJS CakePHP Sample APP</title>
        <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="css/app.css"/>
    </head>
    <body ng-controller="AppCtrl">
        <div class="navbar navbar-fixed">
            <div class="navbar-inner">
                <a class="brand" href="#">
                    <msg key="title"></msg>
                </a>
                <ul class="nav">
                    <li ng-class="activeWhen(path() == '/posts')">
                        <a href="#/posts">Posts</a>
                    </li>
                    <li ng-class="activeWhen(path() == '/new-post')">
                        <a href="#/new-post">New Post</a>
                    </li>
                </ul>
                <ul class="nav nav-pills pull-right">
                    <li ng-class="activeWhen(language() == 'zh_CN')">
                        <a ng-click="setLanguage('zh_CN')">中文</a>
                    </li>
                    <li ng-class="activeWhen(language() == 'en')">
                        <a ng-click="setLanguage('en')">English</a>
                    </li>
                </ul>
                <p class="navbar-text pull-right" style="margin-right: 5em" ng-show="user.username">
                     Welcome {{user.username}}, <button class="btn btn-primary btn-small" ng-click="logout()">Logout</button>
                </p>

                <p class="navbar-text pull-right" style="margin-right: 5em" ng-hide="user.username">
                    <a href="#/login" class="btn btn-primary btn-small">Login</a> or 
                    <a href="#/register" class="btn btn-success btn-small">Register NOW!</a>
                </p>
            </div>
        </div>

        <div class="container">
            <div ng-class="'alert alert-' + message().type" ng-show="message().show">
                <button type="button" class="close" ng-click="message().show = false">&times;</button>
                <msg key-expr="message().text"></msg>
            </div>
            <ng-view></ng-view>
            <div class="footer">Angular seed app: v<span app-version></span></div>
        </div>


        <!-- In production use:
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        -->
        <script type="text/javascript" src="lib/jquery.js"></script>
        <script type="text/javascript" src="lib/jquery.i18n.properties-min-1.0.9.js"></script>
        <script type="text/javascript" src="lib/html5shiv.js"></script>
        <script type="text/javascript" src="lib/holder.js"></script>
        <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="lib/angular/angular.js"></script>  
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/services.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
        <script type="text/javascript" src="js/filters.js"></script>
        <script type="text/javascript" src="js/directives.js"></script>

    </body>
</html>
